.portfolio-page {
  padding-left: 3rem;
  padding-right: 3rem;
  width: calc(100% - 9.375rem);
  position: initial;
  height: 100%;
  overflow: auto;

  h1.page-title {
    margin-left: 6.25rem;
    margin-top: 6.25rem;
    text-wrap: nowrap;
  }

  .images-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 6.25rem;
  }

  .image-box {
    position: relative;
    display: flex;
    flex: 1 1 20%;
    height: 20rem;
    place-content: center;
    overflow: hidden;
    border-radius: 0.65rem;
    max-width: 18rem;
    min-width: min-content;

    &:after {
      content: '';
      background: linear-gradient(180deg, #ffd700, #000);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3 cubic-bezier(0.645, 0.045, 0.355, 1);
      z-index: 2;
      opacity: 0;
    }

    &:hover:after {
      opacity: 0.3;
    }

    &:hover .content {
      bottom: 0;
      background: transparent;
    }

    .portfolio-image {
      position: relative;
      z-index: 2;
      object-fit: contain;
      height: 100%;
      aspect-ratio: auto;
    }

    .content {
      position: absolute;
      width: 95%;
      z-index: 3;
      padding: 0.7rem 1.25rem;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
      bottom: -4.2rem;
    }

    .title {
      margin-bottom: 0;
      margin-top: 0;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.5rem;
    }

    .description {
      font-size: 0.9rem;
      margin-bottom: 0.4rem;
      color: #fff;
      font-weight: 400;
    }

    .btn {
      margin-top: 1.9rem;
      margin-bottom: 0.65rem;
      padding: 0 1.25rem;
      height: 2.5rem;
      line-height: 2.1rem;
      border: 0.125rem solid #ffd700;
      border-radius: 0.25rem;
      font-size: 0.9rem;
      color: #fff;
      background: transparent;
      text-transform: uppercase;
      font-weight: 500;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      cursor: pointer;

      &:hover {
        transform: translateY(-0.2rem);
        background: #ffd700;
        color: black;
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .container.portfolio-page {
    width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    h1.page-title {
      margin-left: 0;
      margin-top: 1.25rem;
    }

    .image-box {
      /* height: 20rem; */
      aspect-ratio: auto;
      max-width: min(calc(50vw - 0.8rem), 18rem);
      flex: 1 1 45%;
      min-width: 17rem;
      min-height: 16rem;
    }
    .images-container {
      justify-content: center;
      display: flex;
    }
  }
}
