.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tags {
    bottom: auto;
    top: 2.2rem;
}

.tags {
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 7.5rem;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore';
}

.bottom-tag-html {
    margin-left: 1.25rem;
}

.container {
    width: 100%;
    will-change:contents;
    height: 90%;
    min-height: 35.25rem;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.5s;
}

.about-page, .contact-page, .portfolio-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
    }

    h1 {
        font-size: 3.2rem;
        font-family: 'Coolvetica';
        color: #ffd700;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 2.5rem;
        left: .7rem;

        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            font-size: 1.2rem;
            position: absolute;
            margin-top: -10px;
            left: -10px;
            opacity: 0.6;
            line-height: 1.2rem;
        }

        &::after{
            content:'</h1>';
            font-family: 'La Belle Aurore';
            font-size: 1.2rem;
            line-height: 1.2rem;
            position: absolute;
            left: -1.8rem;
            bottom: -1.25rem;
            margin-left: 1.25rem;
            opacity: 0.6;
        }
    }

    p{
        font-size: 1rem;
        color:#fff;
        font-family: sans-serif;
        font-weight: 300;
        min-width: fit-content;
        animation: pulse 1s;

        &:nth-of-type(1){
            animation-delay: 1s;
        }
        &:nth-of-type(2){
            animation-delay: 1.1s;
        }
        &:nth-of-type(3){
            animation-delay: 1.2s;
        }
    }

    .text-animate-hover{
        &:hover{
            color:#fff;
        }
    }
}

@media screen and (max-width: 1200px) {
    .page {
      position: initial;
    }
  
    .tags, .about-page h1::before, .about-page h1::after, .contact-page h1::before, .contact-page h1::after, .portfolio-page h1::before, .portfolio-page h1::after {
        display: none;
    }

    .container {
      position: initial;
      height: auto;
  
      &.contact-page,
      &.about-page,
      &.portfolio-page {
        .text-zone {
          position: initial;
          transform: none;
          width: 100%;
          display: block;
          padding: 1.25rem;
          box-sizing: border-box;
        }
      }
  
      &.portfolio-page {
        width: 100%;
        padding: 1.25rem;
        box-sizing: border-box;
  
        h1.page-title {
          margin-left: 1.25rem;
          margin-top: 1.25rem;
        }
  
        .image-box {
          height: 12.5rem;
          max-width: calc(50% - .62rem);
        }
      }
    }
  
    .stage-cube-cont {
      position: initial;
      width: 100%;
      height: 0%;
      overflow: visible;
    }
  }